<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487434580657-hguk2pq753omob1dl2t50rc57mpeg67h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487434580657-hguk2pq753omob1dl2t50rc57mpeg67h</string>
	<key>API_KEY</key>
	<string>AIzaSyAU0kHNXFYlxiMJILx5E5P8LEQ0qFszfxk</string>
	<key>GCM_SENDER_ID</key>
	<string>487434580657</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mughees.eventapp</string>
	<key>PROJECT_ID</key>
	<string>local-happinezz</string>
	<key>STORAGE_BUCKET</key>
	<string>local-happinezz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487434580657:ios:18d96f46e3ec99c9ebe890</string>
</dict>
</plist>